.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;

  &.not-top {
    background-color: $white;
    opacity: 0.7;
  }

  &.hide {
    transform: translateY(-100%);
  }
}

.header__logo {
  @extend .roboto-48-bold;
}
