.notes {
  position: relative;
  z-index: 20;
}

.notes__wrapper {
  padding-top: 200px;
}

.notes__form {
  max-width: 500px;
  width: 100%;
  margin-bottom: 96px;
}

.notes__form-wrapper {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.notes__form-label {
  @extend .roboto-24-normal;
  display: block;
  margin-bottom: 16px;
}

.notes__form-text {
  @extend .roboto-16-normal;
  display: block;
  max-width: 500px;
  width: 100%;
  padding: 16px;
  background-color: $white;
  border: 1px solid $main;
  border-radius: 10px;
  color: $black;
  overflow-y: scroll;
}

.notes__form-text-description {
  padding: 16px 16px 96px;
  color: $grey;
}

.form__btn {
  @extend .roboto-16-normal;
  background-color: $purple;
  border: 2px solid $purple;
  border-radius: 10px;
  padding: 16px 50px;

  @include hover {
    background-color: $white;
    border: 2px solid $purple;
    color: $purple;
  }
}

.notes__items {
  @extend .roboto-16-normal;
  max-width: 1430px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 64px;
}

.js-note {
  max-width: 500px;
  width: 100%;
}

.notes__item-title,
.notes__item-description {
  margin-bottom: 16px;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 10px;
  padding: 16px;
  color: $black;
  overflow-y: scroll;
}

.notes__item-description {
  padding: 16px 16px 96px;
  color: $grey;
}

.notes__item-btn {
  background-color: $white;
  border: 2px solid $purple;
  color: $purple;

  @include hover {
    background-color: $purple;
    border: 2px solid $purple;
    color: $white;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}
